.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1 a {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}

body {
    padding-left: 15px;
}

.post {
    margin-bottom: 40px;
}

.post h2 a {
    color: #000000;
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}
